  <section class="top">
    <!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="#" class="logo">
          <strong>RUBITI</strong>
          Sites & Sistemas Web
        </a>
        <input type="checkbox" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
          <i class="fas fa-bars"></i>
        </label>
        <nav id="sidebarMenu">
          <ul class="sidebarMenuInner">
            <a href="#">
              <img src="<%= asset_pack_path 'media/packs/welcome/images/rubiti_240.png' %>" id="logo_menu" />
            </a>
            <li><i class="icon fas fa-home"></i><a href="#">Home</a></li>
            <li><i class="icon fas fa-fire-alt"></i><a href="#">Tendências</a></li>
            <li><i class="icon fas fa-address-card"></i><a href="#">Contato</a></li>
          </ul>
        </nav>
      </div>
    </header>
    
    <div id="banner">
      <img src="<%= asset_pack_path 'media/packs/welcome/images/rubiti_240.png' %>" id="emblema" />
      <div class="flex">
        <div>
          <span class="icon fab fa-digital-ocean"></span>
          <h3>Aliquam</h3>
          <p>Suspendisse amet ullamco</p>
        </div>

        <div>
          <span class="icon fas fa-check-double"></span>
          <h3>Aliquam</h3>
          <p>Suspendisse amet ullamco</p>
        </div>

        <div>
          <span class="icon fas fa-laptop-code"></span>
          <h3>Aliquam</h3>
          <p>Suspendisse amet ullamco</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Highlights -->
  <section class="wrapper">
    <div class="inner">
      <header class="special">
        <h2>Sem Turpis Amet Semper</h2>
        <p> Parágrafo p In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
      </header>
      <div class="highlights">
        <section>
          <div class="content">
            <header>
              <span class="icon fas fa-link"></span>
              <h3>Feugiat consequat</h3>
            </header>
            <p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo.</p>
          </div>
        </section>
        <section>
          <div class="content">
            <header>
              <span class="icon fab fa-linux"></span>
              <h3>Feugiat consequat two</h3>
            </header>
            <p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo.</p>
          </div>
        </section>
        <section>
          <div class="content">
            <header>
              <span class="icon fab fa-sketch"></span>
              <h3>Feugiat consequat three</h3>
            </header>
            <p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo.</p>
          </div>
        </section>
        <section>
          <div class="content">
            <header>
              <span class="icon far fa-credit-card"></span>
              <h3>Feugiat consequat three</h3>
            </header>
            <p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo.</p>
          </div>
        </section>
      </div>
    </div>
  </section>