  <!-- Header -->
  <header id="header">
    <div class="inner">
      <a href="#" class="logo">
        <strong>RUBITI</strong>
        Websites & Websystems
      </a>
      <nav id="nav">
        <a href="#">Home</a>
        <a href="#">Generic</a>
        <a href="#">Elements</a>
      </nav>
      <a href="#navPanel" class="navPanelToggle"><span class="fa fa bars"></span></a>
    </div>
  </header>

  <!-- Banner -->
  <section id="banner">
    <div class="inner">
      <header>
        <h1>Bemvindo à rubiti</h1>
      </header>

      <div class="flex">
        
        <div>
          <span class="icon fa fa-car"></span>
          <h3>Aliquam</h3>
          <p>Suspendisse amet ullamco</p>
        </div>
        
        <div>
          <span class="icon fa fa-car"></span>
          <h3>Aliquam</h3>
          
          <p>Suspendisse amet ullamco</p>
        </div>
        
        <div>
          <span class="icon fa fa-car"></span>
          <h3>Aliquam</h3>
          <p>Suspendisse amet ullamco</p>
        </div>

      </div>

      <footer>
        <a href="#" class="button">Get Started</a>
      </footer>

    </div>
  </section>