  <section class="top">
    <!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="#" class="logo">
          <strong>RUBITI</strong>
          Websites & Websystems
        </a>
        <nav id="nav">
          <a href="#">Home</a>
          <a href="#">Generic</a>
          <a href="#">Elements</a>
        </nav>
        <a href="#" class="navPanelToggle"><span class="fas fa-bars"></span></a>
      </div>
    </header>

    <!-- Banner -->
    <div id="banner">
      <header>
        <h1>Bemvindo, somos a rubiti</h1>
      </header>
      <div class="flex">
        <div>
          <span class="icon fab fa-digital-ocean"></span>
          <h3>Aliquam</h3>
          <p>Suspendisse amet ullamco</p>
        </div>

        <div>
          <span class="icon fab fa-jedi-order"></span>
          <h3>Aliquam</h3>
          <p>Suspendisse amet ullamco</p>
        </div>

        <div>
          <span class="icon fas fa-search-dollar"></span>
          <h3>Aliquam</h3>
          <p>Suspendisse amet ullamco</p>
        </div>

        <footer>
          <a href="#" class="button">Get Started</a>
        </footer>
      </div>
    </div>
  </section>