  <section class="top">
    <!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="#" class="logo">
          <strong>RUBITI</strong>
          Websites & Websystems
        </a>
      </div>
    </header>

    <!-- Banner -->
    <div id="banner">
      <div class="inner">
        <header>
          <h1>Bemvindo à rubiti</h1>
          <nav id="nav">
            <a href="#">Home</a>
            <a href="#">Generic</a>
            <a href="#">Elements</a>
          </nav>
        </header>

        <div class="flex">

          <div>
            <span class="fas fa-ad"></span>
            <i class="fas fa-ad"></i>
            <h3>Aliquam</h3>
            <p>Suspendisse amet ullamco</p>
          </div>

          <div>
            <span class="icon fa fa-car"></span>
            <h3>Aliquam</h3>

            <p>Suspendisse amet ullamco</p>
          </div>

          <div>
            <span class="icon fa fa-car"></span>
            <h3>Aliquam</h3>
            <p>Suspendisse amet ullamco</p>
          </div>

        </div>

        <footer>
          <a href="#" class="button">Get Started</a>
        </footer>

      </div>
    </div>
  </section>