  <section class="top">
    <!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="#" class="logo">
          <strong>RUBITI</strong>
          Sites & Sistemas Web
        </a>
        <nav id="nav">
          <a href="#">Home</a>
          <a href="#">Generic</a>
          <a href="#">Elements</a>
        </nav>
        <a href="#" class="navPanelToggle"><span class="fas fa-bars"></span></a>
      </div>
    </header>
    
    <div id="banner">
      <img src="<%= asset_pack_path 'media/packs/welcome/images/rubiti_240.png' %>" id="emblema" />
      <div class="flex">
        <div>
          <span class="icon fab fa-digital-ocean"></span>
          <h3>Aliquam</h3>
          <p>Suspendisse amet ullamco</p>
        </div>

        <div>
          <span class="icon fas fa-check-double"></span>
          <h3>Aliquam</h3>
          <p>Suspendisse amet ullamco</p>
        </div>

        <div>
          <span class="icon fas fa-laptop-code"></span>
          <h3>Aliquam</h3>
          <p>Suspendisse amet ullamco</p>
        </div>
      </div>
    </div>
  </section>