@charset "UTF-8";
/*
	RUBITI INSTITUTIONAL by rubiti websites & websystems
  Author: Anderson Brandao
  Email: brandao@rubiti.com
	Website: www.rubiti.com
*/

header {
  background-color: green;
}

#banner {
  background-color: purple;
}