<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Nome: <%= @contact.name %></p>
    <p>Email: <%= @contact.email %></p>
    <p>Mensagem: <%= @contact.message %>.<br>
    </p>
  </body>
</html>